*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 960px;
    margin: 0px auto;
    background-color: gray;color: royalblue;}
#page{background: rgb(68, 16, 42);height: 1500px;}
h6,h5,h1,h3 {text-align: center;padding-top: 50px; }
table{margin: 0px auto; margin-top: 50px; border-collapse: collapse;}
td,th{border: 1px solid honeydew; padding: 10px;}
#bottons{width: 600px; margin: 0px auto; text-align: center; padding: 10px;}
.bubu ,button{/*버튼스타일*/
    text-align: center;
    width: 80px;
    padding: 5px; 
    background-color: rgb(4, 133, 165); 
    color: rgb(12, 223, 12);
    border-radius: 5px; 
    border: none;
    cursor: pointer;
}
input[type="text"][type="password"]{padding: 5px; border: 1px solid navy;}

a{text-decoration: none; color: aquamarine;font-size: 20px;}
a:hover{color: yellow;}
.row:hover{
    background-color: greenyellow;
    color: cyan;
}
.rowTitle{
    background-color: aquamarine; 
    margin: 0px auto; 
    color: navy;
    text-align: center;
}
.campTable{text-align: center;}
.add{background-color: navy;}
.row{color: beige;}
#pcode, #id, #fdate{text-align: center}
#sum{text-align: right;}
#menu{
    border-top: 1px solid yellowgreen;
    border-bottom: 1px solid lightblue;
    padding: 10px;
    margin:  10px 20px;
}
.home{
    cursor: pointer;
}
.ftitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: darkcyan;
    color: honeydew;
    text-align: center;
}

/* 메인박스  

.box{
    float:left; width: 180px;
    border: 1px solid gray; 
    height: 200px;
    width: 150px;
    padding: 10px; 
    margin-left: 40px; 
    margin-right: 10px;
    border-radius: 10px; 
    margin-bottom: 20px;
    background-color: lightblue;
    cursor: pointer;
} */